.feedback {
  padding: 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.feedback__form {
  min-width: 280px;
  position: relative;
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: grid;
    grid-template-columns: repeat(2, 45.5%);
    grid-template-rows: 338px 210px 231px;
    row-gap: 63px;
    column-gap: 9%;
    align-items: normal;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
    grid-template-columns: repeat(2, 430px);
    grid-template-rows: 338px 190px 190px;
    column-gap: 100px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: " ";
      background: #dbdbdb;
      width: 1px;
      height: 338px;
      left: 50%;
    }
  }
}

.feedback__title,
.feedback__call {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 24px;
  padding-top: 36px;
  color: @base-title-color;

  &--main {
    @media (min-width: @tablet-width) {
      font-size: 30px;
      line-height: 26px;
      padding-top: 64px;
    }
  }

  &--internal {
    @media (min-width: @tablet-width) {
      font-size: 21px;
      line-height: 26px;
      padding-left: 0;
      padding-top: 0;
    }
  }

  &--checklist {
    @media (min-width: @tablet-width) {
      padding: 0 86px 26px 86px;
    }
  }

  &--internal::before {
    position: absolute;
    content: " ";
    width: 115%;
    height: 1px;
    top: 12px;
    left: -7.5%;
    background-color: @decorative-color;

    @media (min-width: @tablet-width) {
      visibility: hidden;
    }
  }
}

.feedback__call {
  font-size: 14px;
  line-height: 21px;

  @media (min-width: @tablet-width) {
    padding: 0 106px 108px 106px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 262px 115px 262px;
  }
}

.feedback__group {
  padding: 0;
  border: none;
  padding-bottom: 28px;
  position: relative;
  display: flex;
  flex-direction: column;

  &--name {
    @media (min-width: @tablet-width) {
      grid-column: 1 / 2;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      grid-column: 2 / 3;
    }
  }

  &--impression {
    @media (min-width: @tablet-width) {
      grid-column: -1 / 1;
      padding: 0 36px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 53px;
    }
  }

  &--attractions {
    @media (min-width: @tablet-width) {
      grid-column: -1 / 1;
      padding: 0 84px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 44px;
    }
  }

  &--message {
    padding-bottom: 56px;

    @media (min-width: @tablet-width) {
      grid-column: -1 / 1;
      padding-bottom: 48px;
    }
  }
}

.feedback__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback__item {
  width: 280px;
  height: 46px;
  box-sizing: border-box;
  padding: 10px 33px 10px 62px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  &--checkbox {
    width: 224px;
    padding-right: 40px;

    &:nth-child(odd) {
      @media (min-width: @tablet-width) {
        margin-right: 26px;
      }
    }

    @media (min-width: @desktop-width) {
      width: 184px;
      padding-right: 0;
    }
  }
}

.feedback__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;

  &--checklist {
    padding-left: 0;
  }
}

.feedback__input {
  font-family: @base-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @base-title-color;
  width: 100%;
  height: 58px;
  background: @page-background-color;
  padding: 16px;
  box-sizing: border-box;
  border: 4px solid @page-background-color;
  margin-bottom: 16px;

  &:placeholder-shown {
    opacity: 60%;
  }

  &:hover {
    background: @decorative-color;
  }

  &:focus {
    background: @page-background-color;
    border: 4px solid @decorative-color;
  }

  &:active {
    background: @base-background-color;
    border: 4px solid @decorative-color;
  }
}

.feedback__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: @base-title-color;
  padding-bottom: 16px;
}

.feedback__comment {
  width: 100%;
  height: 150px;
  font-family: @base-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @base-title-color;
  background: @page-background-color;
  padding: 16px;
  box-sizing: border-box;
  resize: none;

  &:placeholder-shown {
    opacity: 60%;
  }

  @media (min-width: @tablet-width) {
    height: 160px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 96px;
    width: 768px;
  }
}

.feedback__submit {
  border: none;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    min-width: 324px;
    padding: 16px 71px;
  }

  @media (min-width: @desktop-width) {
    min-width: 384px;
    padding: 16px 71px;
    margin-left: 96px;
  }
}

.feedback__info-text {
  position: absolute;
  content: "";
  font-size: 12px;
  line-height: 21px;
  color: @base-text-color;
  text-transform: uppercase;
  opacity: 60%;
  right: 0;
  bottom: 25px;

  @media (min-width: @tablet-width) {
    bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    right: 100px;
  }
}
