.footer {
  text-align: center;
  padding: 33px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 0 120px;
  }

  &--gallery {
    @media (min-width: @tablet-width) {
      padding: 44px 60px 0 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 87px 120px 0 120px;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding: 21px 60px 0 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 20px 120px 0 120px;
    }
  }
}

.footer__list {
  padding: 30px 0 27px;

  @media (min-width: @tablet-width) {
    padding: 30px 0;
  }
}
