.footer {
  text-align: center;
  padding: 33px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 0 120px;
  }

  &--gallery {
    @media (min-width: @tablet-width) {
      padding: 38px 60px 0 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 82px 120px 0 120px;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding: 19px 60px 0 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 15px 120px 0 120px;
    }
  }
}

.footer__list {
  padding: 28px 0;
}
