.gallery {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.gallery__card {
  margin: 0;
  min-width: 280px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 347px;
  }

  @media (min-width: @desktop-width) {
    height: 268px;
  }


  &:nth-child(3) {
    @media (min-width: @tablet-width) {
      background: #eaeaea;
    }
  }


  .gallery__card-image {
    object-fit: cover;
    height: 280px;
    width: 100%;

    @media (min-width: @tablet-width) {
      height: 268px;
    }
  }

  &--first {
    @media (min-width: @tablet-width) {
      height: 480px;
      grid-column: -1 / 1;
    }

    @media (min-width: @desktop-width) {
      height: 400px;
      grid-column: -1 / 1;
    }

    .gallery__card-image {
      height: 400px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 50px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }

  &::before {
    position: absolute;
    content: " ";
    height: 1px;
    top: -24px;
    left: -20px;
    right: -20px;
    background-color: @decorative-color;

    @media (min-width: @tablet-width) {
      visibility: hidden;
    }
  }

  &:last-child::after {
    position: absolute;
    content: " ";
    width: 115%;
    height: 1px;
    bottom: -25px;
    left: -6.3%;
    background-color: @decorative-color;

    @media (min-width: @tablet-width) {
      visibility: hidden;
    }
  }
}

.gallery__card-description {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    background: @page-background-color;
    position: absolute;
    content: " ";
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    background: rgba(0, 0, 0, 0.3);
  }
}

.gallery__card-title {
  font-weight: 700;
  font-size: 14px;
  color: @base-title-color;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    color: @secondary-text-color;
  }
}

.gallery__card-autor {
  font-weight: 400;
  margin: 0;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    color: @secondary-text-color;
  }
}
