.main-nav {
  display: inline-block;
  width: 100%;
  position: relative;

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 22px;
    height: 4px;
    background-color: @base-accent-color;
    box-shadow: 0 9px 0 0 @base-accent-color, 0 18px 0 0 @base-accent-color;
  }

  &--closed .main-nav__toggle:hover::before {
    background-color: fade(@base-accent-color, 60%);
    box-shadow:
      0 9px 0 0 fade(@base-accent-color, 60%),
      0 18px 0 0 fade(@base-accent-color, 60%);
  }

  &--closed .main-nav__toggle:active::before {
    background-color: fade(@base-accent-color, 30%);
    box-shadow:
      0 9px 0 0 fade(@base-accent-color, 30%),
      0 18px 0 0 fade(@base-accent-color, 30%);
  }

  &--closed {
    @media (max-width: @mobile-width-only) {
      .main-nav__container {
        display: none;
      }
    }
  }

  &--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 20px;
      width: 29px;
      height: 5px;
      background-color: @base-background-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: fade(@base-background-color, 60%);
    }

    &:active::before,
    &:active::after {
      background-color: fade(@base-background-color, 30%);
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__container {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;

    &:hover,
    &:active {
      .main-nav__container {
        display: flex;
      }
    }
  }
}

.main-nav__toggle {
  cursor: pointer;
  z-index: 4;
  width: 68px;
  height: 56px;
  position: absolute;
  right: 0;
  border: none;
  background: transparent;
  padding: 0;


  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__container {
  position: absolute;
  min-width: 320px;
  width: 100%;
  min-height: 220px;
  z-index: 3;
  background-color: @base-accent-color;

  @media (min-width: @tablet-width) {
    display: flex;
    position: static;
    justify-content: space-between;
    margin: 0 auto;
    background-color: transparent;
    min-height: 56px;
  }
}
