.map {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.map__images {
  @media (max-width: @mobile-width-only) {
    object-fit: cover;
    width: 100%;
  }
}
