.social-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  width: 170px;
}

.social-list__item {
  padding-right: 6px;
  height: 33px;
  padding-top: 15px;
  margin-top: 5px;

  &:last-child {
    padding-right: 0;
  }
}

.social-list__link {
  padding: 15px 12px;
  box-sizing: border-box;
  background: #81b3d2;
}

.social-list__link svg {
  vertical-align: bottom;
}

.social-list__link:hover {
  background: @hover-color;
}

.social-list__link:active {
  background: @active-color;
}

.social-list__link:active svg {
  fill-opacity: 0.3;
}
