.title-block {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  color: @base-title-color;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }

  &--error {
    @media (max-width: @mobile-width-only) {
      font-size: 18px;
    }

    @media (min-width: @tablet-width) {
      line-height: 40px;
    }
  }

  &--sent {
    @media (max-width: @mobile-width-only) {
      font-size: 18px;
    }
  }

  &--gallery {
    @media (max-width: @mobile-width-only) {
      font-size: 18px;
    }
  }

  &--footer {
    @media (min-width: @tablet-width) {
      font-size: 21px;
      line-height: 26px;
    }
  }
}
