.information-message {
   text-align: center;
   text-transform: uppercase;
   padding-top: 38px;
   padding-bottom: 49px;
   &--error {
   padding: 45px 42px 35px 41px;
   }
   &--gallery {
   padding: 30px 20px 60px 20px;
   }
}

.information-message__title {
  padding-bottom: 37px;
  &--gallery {
  padding-bottom: 27px;
  }
}

.information-message__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.information-message__button {
  margin-top: 32px;
  &--error {
  margin-top: 25px;
  }
}
